
.dataMatrixInput { width:60px }

.valuesMatrixInput {
    width: 50px;
}

.contactLink { color: #fff; }

.matrixContainer {
    border-radius: 60px;
    box-sizing: border-box;
    width: 50%;
    border-left: solid #000 5px;
    border-right: solid #000 5px;
    padding: 5px;
    
    display: flex;
    justify-content: center;
    align-items: center;

}

.CurveBorder {
    /* border-style: solid; */
    /* box-sizing: border-box;
    border-style: solid;
    border-radius: 60px; */
    display: table-cell;
}

#paragraphResult { display:none }

.result {
    margin-block-end: 60px;
}

nav {
    margin-block-end: 30px;
}
